@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
	color:#FFFFFF;
	font-family: 'Droid Sans', sans-serif;
	text-decoration: none;
}

/*over wriritng bootstarp */ 
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(254,148,54,0.9);
}

/**************************************Header********************************/

.header {
	border-radius: 0px !important;
	background-color: #000000;
	margin-bottom: -20px !important;
	border:0 !important;
}


/*************************************Body*********************************/


#cover {
	background-image: url('../images/background_cover.jpg');
	background-size: 100%;
}

#others {
	background-image: url('../images/background_others.jpg');
	background-size: 100%;
}



.name-body {
	margin-top: 12%;
}

.my-name {
	color: #000000;
	font-size: 8em;
	text-align: center;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.my-name-data {
	display: block;
	padding:0 !important;
	margin-top:-40px !important;
}

.thought-body{
	color: #000000;
	font-size: 1.3em;
	text-align: center;
	margin: 4% 0 6% 0;
}

.thought-body hr {
	color: #000000;
	border: 1px solid #000000;
}

.boundary{
	border: 1px dotted #FFFFFF;
	width:80%;
	margin:auto;
	display: block;
	margin-top: 5%;
	margin-bottom: 10%;
	padding: 3% 0;
}

.detail-header {
	margin: auto;
	width: 50%;
	display: block;
	text-align: center;

}

.project {
	width: 80%;
	margin: auto;
	display: block;
	margin-top: 2%;
	padding:4%;
	background-color: rgba(0,0,0,0.55);
	text-align: justify;
}

.project-image {

	
}

.project-detail{
	border-left: 1px dotted #FFFFFF;
	padding-left:3%;
}

.project-detail a, .project-detail a:visited, .project-detail a:hover {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}


