body {
	background-image: url('../images/background.jpg');
	/* background-size: 100%; */

	color:#FFFFFF;
	font-family: 'Droid Sans', sans-serif;
}

.name-body {
	margin-top: 10%;
}

.my-name {
	color: #FFFFFF;
	font-size: 2.5em;
	text-align: center;
	font-weight: bold;
}

.thought-body{
	color: #FFFFFF;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	margin: 3% 0 0 0; 
}

.thought-body hr {
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	width: 50%;
}


.footer {
	text-align:center;
	background-color: none;
	width:100%;
	padding:0;

}


.footer-name {
	background-color: rgba(0,0,0,0.55);
	border-right: 1px dotted;
	line-height: 65px;
	font-size: 1.5em;
}

.footer-name a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 4%;
}


.footer-name a:hover {
	color: #FFFFFF;
}


.footer-links {
	background-color: rgba(0,0,0,0.55);
	border-right: 1px dotted;
	line-height: 63px;
}


.footer-links a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.5em;
	padding: 4%;
}


.footer-links a:hover {
	color: #FFFFFF;
}

.footer-navigation {
	background-color: rgba(0,0,0,0.55);
	line-height: 65px;
	font-size: 1.5em;
}


.footer-navigation a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 4%;
}


.footer-navigation a:hover {
	color: #FFFFFF;
}


.boundary{
	border: 1px dotted #FFFFFF;
	width:80%;
	margin:auto;
	display: block;
	margin-top: 5%;
	margin-bottom: 10%;
	padding: 3% 0;
}

.detail-header {
	margin: auto;
	width: 50%;
	display: block;
	text-align: center;

}

.project {
	width: 80%;
	margin: auto;
	display: block;
	margin-top: 2%;
	padding:4%;
	background-color: rgba(0,0,0,0.55);
	text-align: justify;
}

.project-image {

	
}

.project-detail{
	border-left: 1px dotted #FFFFFF;
	padding-left:3%;
}

.project-detail a, .project-detail a:visited, .project-detail a:hover {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}