body {
	background-color: #3e4049;
	color:#FFFFFF;
	font-family: 'Open Sans', sans-serif;
}

.navbar-default{
	background-color: #303239;
	border:0;
	color:#FFFFFF;
	padding-left: 8%;
}

.navbar-default .navbar-brand {
	color:#a5a7ac;
	font-weight: bolder;
	font-size: 1.5em;
}

.intro-details {
	padding: 5% 0 5% 0;
}

.intro-details-a {
	font-size: 1.5em;	
	border-right: 1px solid #303239;
}

.intro-details-b {
	font-size: 4em;
}

.intro-details-b a{
	text-decoration: none;
}


.my-name {
	color:#FFFFFF;
	font-size: 2em;
	padding-top: 8%;
}

.my-address {
	color:#FFFFFF;
	font-size: 1.3em;
	text-align: right;
}

.my-name hr {
	border-top: 1px solid #303239;
}

.my-address hr {
	border-top: 1px solid #303239;
}

.social a{
	color: #FFFFFF;
}

.social a:hover{
	color: #FFFFFF;
	text-decoration: none;
}

.page-name {
	color:#FFFFFF;
	font-size: 1.5em;
	padding-top: 8%;
}

.page-name hr {
	border-top: 1px solid #303239;
}

.design-details {
	padding: 5% 0 5% 0;
}


.design-details-a {
	font-size: 4em;
	border-right: 1px solid #303239;
}

.design-details-a a{
	text-decoration: none;
}

.design-details-b {
	font-size: 4em;
}

.design-details-b a{
	text-decoration: none;
}