/* ==================================================== Typography =================================================== */
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../font/BebasNeue-webfont.eot');
    src: url('../font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/BebasNeue-webfont.ttf') format('truetype'),
         url('../font/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=Condiment);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Sigmar+One);

/*============================================== Body ========================================*/

/*=========================================scroll================================*/
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/*==========================================scroll================================*/
body{
  margin:0px;
  background-color:#e9e9e9 !important;
}
section {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

nav {
  position:fixed;
  z-index: 5;
  width: 100%;
}

body a{
  text-decoration: none;
}
body a:hover{
  text-decoration: none;
}
body a:visited{
  text-decoration: none;
}
.front-base{
  background: url("../images/city-front-960.png") repeat-y ;
  height: auto;
}

.container-base{
  background: url("../images/city-backdrop-960.png")  repeat-y fixed;
  height: auto;
}
.menubar{
  height: 35px;
  background-color: #1ea2c9;
  color: #131B28;
  padding-left: 15%;
  font-family: 'bebas_neueregular';
}

.menubar a{
  color: #131B28;
  font-size: 25px;
  padding-left: 2%;
  padding-right: 2%;
}
.menubar a:hover{
  color: #fff;
  background-color:#131B28; 
  font-size: 25px;
  padding-left: 2%;
  padding-right: 2%;
}

.header{
  height: 80px;
  background-color: #131B28;
}
.header-logo{
  background-image:url("../images/logo.png") ;
}
.header-rostra{
  font-size: 50px;
  padding-bottom: 0;
  color:#fff;
  padding-left: 10%;
  padding-top: 6px;
  float: left;
  width: 70%;
  font-family: 'bebas_neueregular';
}
.header-rostra p{
  padding-bottom: 0;
  margin: 0;
}
.header-rostra a{
  color: #fff;
}
.header-dates{
  color:#fff;
  text-align: center;
  padding-top: 10px;
  float: left;
  width: contain;
  font-size: 20px;
  font-family: 'bebas_neueregular';
}
.header-social{
  padding-top: 15px;
  padding-left: 50px;
  float: left;
}
.schedule-des{
  padding-top: 3%;
  width:100%;
}
#home{
  padding-top: 8%;
  height: 756px;
  color:#000;
}
#events{
  padding-top: 11%;
  color:#FFF;
}
#schedule{
  padding-top: 11%;
  color:#FFF;
}


#helpdesk{
  padding-top: 11%;
  color:#FFF;
}

#aboutus{
  padding-top: 11%;
  color:#FFF;
}

#contactus{
  padding-top: 11%;
  color:#FFF;
  padding-bottom: 5%;
}


.rostra-desc{
  font-size: 18px;
  padding-left: 11%;
  padding-top:2%;
  float: left;
  width: 70%;
  font-family: 'Droid sans';
}

.rostra-desc a:hover{
  font-size: 18px;
  font-family: 'Droid sans';
  color: #000;
}
.rostra-desc a{
  font-size: 18px;
  font-family: 'Droid sans';
  color: #4b4d52;
}

#sponsor{
  margin-top: 2%;
  margin-left: 3%;
  float: left;
  background-color: #EAEAEA;
 width:15%;
 
}
.sponsor-top{
  background-color:#4B4D52;
  height: 30px;
  color: #fff;
  font-size: 22px;
  font-family: 'bebas_neueregular';
}
.sponsor-body img{
	width:100%;
}
.judge-image img{
width:20%;
float:left;
margin-left:5%;
border: 5px solid rgba(0,0,0,0.5);
}
.judge-des{
margin-left: 5%;
float:left;
}
.yp{
  background-color: #D94A3C;
  border-top: #fff SOLID 2px;
  border-left: #ba382b SOLID 1px;
  height: 100px;
  width: 250px;
  position: absolute;
  z-index: 10;
}
.yp-logo{
	float:left;
	padding-top:5%;
}
.yp-text{
	padding-top:6%;
	padding-left:50%;
}
.menubar a:hover .yp{
  color: #fff;
  font-size: 25px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #D94A3C;
}

.updates a{
  color: #131B28;
  font-size: 20px;
  text-decoration: none;
}
.updates a:visited{
  color: #131B28;
  font-size: 20px;
  text-decoration: none;
}
.updates a:hover{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.updates{
  float: right;
  padding-right: 1%;
  padding-top: 4px;
  text-decoration: none;
}

span.glyphicon {
    font-size:12px;
}
.section-title{
  background-color: #DB493C; 
  font-family: 'bebas_neueregular';
  margin-left:10%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  height: 40px;
  width: contain;
  position: absolute;
}
.helpdesk-area{
  margin-left: 12%;
  margin-top: 1.5%;
  background-color:#f0f6f6;
  margin-right: 5%;
  height: 900px;
  
}
.aboutus-area{
  margin-left: 12%;
  margin-top: 1.5%;
  background-color:#f0f6f6;
  margin-right: 5%;
  height: 1100px;
  
}
.contactus-area{
  margin-left: 12%;
  margin-top: 1.5%;
  background-color:#f0f6f6;
  margin-right: 5%;
  height: 400px;
}

.event-area{
  margin-left: 12%;
  margin-top: 1.5%;
  background-color:#f0f6f6;
  margin-right: 5%;
  height: 525px;
  padding-left: 10%;
}

.schedule-area{
  margin-left: 12%;
  margin-top: 1.5%;
  background-color:#f0f6f6;
  margin-right: 5%;
  height: 600px;
  text-align: center;
}
.help-note{
  color: #FF0000;
  font-family: 'Sigmar One', cursive;
  margin-top: 5%;
  font-size: 15px;
  padding-right: 17%;
  padding-top: 10%;
}
.reg-form{
  margin-left: 5%;
  margin-top:5%;
  margin-bottom: 5%;
  border-left:1px SOLID #fff;
  border-right:1px SOLID #fff;
  border-bottom:1px SOLID #fff;
  border-top:1px SOLID #fff;
  height: contain;
  width: 70%;
  float: left;
  color: #000;
}
.reg-form-head{
  font-family: 'bebas_neueregular';
  font-size: 40px;
}
.reg-form-body{
  padding-left: 8%;
}
.doubts{
  padding-top: 5%;
  width: 25%;
  float: right;
  padding-left: 3%;

}


.btn_help {
  background: #1d2429;
  background-image: -webkit-linear-gradient(top, #1d2429, #1a252b);
  background-image: -moz-linear-gradient(top, #1d2429, #1a252b);
  background-image: -ms-linear-gradient(top, #1d2429, #1a252b);
  background-image: -o-linear-gradient(top, #1d2429, #1a252b);
  background-image: linear-gradient(to bottom, #1d2429, #1a252b);
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0px !important;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 0px;
  text-decoration: none;
  width: 80%;
  margin-top: 10px;
  font-family: 'TitilliumText22LExtraBold';
}

.btn_help:hover {
  background: #323b40;
  background-image: -webkit-linear-gradient(top, #323b40, #16232b);
  background-image: -moz-linear-gradient(top, #323b40, #16232b);
  background-image: -ms-linear-gradient(top, #323b40, #16232b);
  background-image: -o-linear-gradient(top, #323b40, #16232b);
  background-image: linear-gradient(to bottom, #323b40, #16232b);
  text-decoration: none;
}

.btn_reg {
  background: #1d2429;
  background-image: -webkit-linear-gradient(top, #1d2429, #1a252b);
  background-image: -moz-linear-gradient(top, #1d2429, #1a252b);
  background-image: -ms-linear-gradient(top, #1d2429, #1a252b);
  background-image: -o-linear-gradient(top, #1d2429, #1a252b);
  background-image: linear-gradient(to bottom, #1d2429, #1a252b);
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0px !important;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 0px;
  text-decoration: none;
  width: 20%;
  margin-right: 8%;
  margin-top: 10px;
  font-family: 'TitilliumText22LExtraBold';
}

.btn_reg:hover {
  background: #323b40;
  background-image: -webkit-linear-gradient(top, #323b40, #16232b);
  background-image: -moz-linear-gradient(top, #323b40, #16232b);
  background-image: -ms-linear-gradient(top, #323b40, #16232b);
  background-image: -o-linear-gradient(top, #323b40, #16232b);
  background-image: linear-gradient(to bottom, #323b40, #16232b);
  text-decoration: none;
}

.form-help{
  padding-left: 5%;
  color: #555;
}
.text_input{
  font-family: 'TitilliumText22LRegular';
  font-size: 18px;
  margin:1%;
  padding: 4px 2px 0 7px;
  resize: none;
  height: 30px;
  width: 43%;
  background-color: none;
  border:none;
  -webkit-background-size:  100% 50px;
  background-size: 100% 50px;
}
.text_input_big{
  font-family: 'TitilliumText22LRegular';
  font-size: 18px;
  margin:1%;
  padding: 4px 2px 0 7px;
  resize: none;
  height: 30px;
  width: 88.5%;
  background-color: none;
  border:none;
  -webkit-background-size:  100% 50px;
  background-size: 100% 50px;
}


#concentric_circles, #marcos, #panchayati_raj,#creative_writing, #scavenger_hunt, #shabd_dwand ,#quick_flicks, #spell_bee, #superheros, #newsroom, #viewpoint, #rewrite_history, #vaad_vivaad, #surprise_event {display: none;}


#general-rules{
  color:#fff;
  background-color: #000;
  padding-left:5%;
  padding-right:5%;
  margin-top: 10%;
  height:500px;
  overflow:scroll;
  max-height: 100%;
}

#submit-article{
  color:#fff;
  background-color: #000;
  padding:5px;
  margin-top: 25%;
  height:200px;
  overflow: auto;
  max-height: 100%;
}

.event-list{
  width:17%;
  margin-left: 10%;
  height: contain;
  padding-top: 1%;
  padding-bottom: 10%;
  position: absolute;
}

.event-name{
  background-color: #DB493C; 
  font-family: 'bebas_neueregular';
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  width: contain;
  width:100%;
  text-align: center;
  margin-bottom: 2px;
  font-size: 22px;
}

.event-list a{
  text-decoration: none;
  color: #fff;
}

.event-list a.hover{
  color: #fff;
}
.event-name:hover{
  color: #131B28;
}
.event-list a.active .event-name {
  background-color: #131B28;
}

.event-des{
	padding-left:10%;
}

.event-des-name{

  color: #DB493C;
  text-align: left;
  padding-top: 1%;
  font-size: 55px;
  font-family: 'bebas_neueregular';

}
.event-des-content{

  color: #131B28;
  text-align: left;
  float:left;
  width:55%;
  height:300px;
  padding-top: 1%;
  padding-right: 1%;
  font-size: 16px;
  font-family: 'Droid sans';
  overflow:auto;
  

}
.event-des-content1{

 color: #1ea2c9;
  text-align: left;
  padding-bottom: 2%;
  padding-right: 3%;
  font-size: 25px;
  font-family: 'bebas_neueregular';

}
.event-des-category{

  color: #1ea2c9;
  text-align: left;
  float:left;
  width:100%;
  padding-bottom: 2%;
  padding-right: 3%;
  font-size: 25px;
  font-family: 'bebas_neueregular';
  

}
.event-des-image{

  text-align: left;
  width:40%;
  float:left;
  padding-top: 1%;
  padding-left: 3%;
  font-size: 20px;
  font-family: 'bebas_neueregular';

}

.event-btn-rules{
  background: #1d2429;
  background-image: -webkit-linear-gradient(top, #1d2429, #1a252b);
  background-image: -moz-linear-gradient(top, #1d2429, #1a252b);
  background-image: -ms-linear-gradient(top, #1d2429, #1a252b);
  background-image: -o-linear-gradient(top, #1d2429, #1a252b);
  background-image: linear-gradient(to bottom, #1d2429, #1a252b);
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0px !important;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 20px 5px 20px;
  border: solid #000000 0px;
  text-decoration: none;
  width: 15%;
  float: right;
  margin-right: 2%;
  font-family: 'TitilliumText22LExtraBold';
}

.event-btn-rules:hover {
  background: #323b40;
  background-image: -webkit-linear-gradient(top, #323b40, #16232b);
  background-image: -moz-linear-gradient(top, #323b40, #16232b);
  background-image: -ms-linear-gradient(top, #323b40, #16232b);
  background-image: -o-linear-gradient(top, #323b40, #16232b);
  background-image: linear-gradient(to bottom, #323b40, #16232b);
  text-decoration: none;
}

.footer{
  
}

.footer-content{
  height: 50px;
  background-color: #131B28;
  border-top:#1ea2c9 SOLID 5px;
}

.footer-credits{
  padding-left: 8%;
  padding-top: 0.75%;
  color: #fff;
  float: left;
  font-size: 15px;
  width: 50%;
 font-family: 'Droid sans';
}

.footer-copyright{
  padding-right: 8%;
  padding-top: .75%;
  color: #fff;
  float: right;
  text-align: right;
  width: 50%;
  font-family: 'Droid sans';
}
.archive{
  background-color: #1ea2c9;
  color:#131B28;
  text-align: center;
  width: 50px;
  font-family: 'bebas_neueregular';
  font-size: 14px;
}
.archive a{
  color: #131B28;
}

.archive a:hover{
  color:#fff;
}

#surprise_event img{
	width:80%;
	padding-top: 5%;
	padding-left:5%;
}

.contactus-des{
	width:40%;
	padding-left:5%;
	padding-top:5%;
	font-family: 'Droid sans';
	float:left;
	color:#131b28;
}

.contactus-person{
	/*background-color:rgba(19,27,40,.5);*/
	height:contain;
	
}

.contactus-person-name{
	padding-top:2%;
	font-weight:bolder;
	font-size:20px;
	text-align:center;
}
.contactus-person-other{
	font-size:15px;
	text-align:center;
	
}
.contactus-map{
	padding-left:2%;
	padding-top:5%;
	float:left;
	width:60%;
	
}

.contactus-end{
	padding-left:2%;
	color:#131b28;
	font-size:18px;
	font-family: 'bebas_neueregular';
	float:left;
}



/*=============about===============*/
.teamInfo {
  overflow: hidden;
  color: #131b28;
}
.teamInfo ul {
  
  margin-top: 20px;
}
.teamInfo ul li {
  list-style-type: none;
  display: inline-block;
  float: left;
  width: 25%;
  padding: 0 2% 0 2%;
  cursor: pointer;
}
.teamBox {
}
.imgWrp {
  height: 150px;
  overflow: hidden;
  cursor:pointer;
  opacity: 0.75;
    transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
}
.imgWrp:hover {
    height: 220px;
    opacity: 1;
    margin-top: -15px;
}

.tInfo {
}

.team-name{

  color: #DB493C;
  text-align: left;
  
  padding-left: 5%;
  font-size: 30px;
  font-family: 'bebas_neueregular';

}


.executives{
  padding-left: 10%;
  

}

/*===end about==*/

/*===rules==*/

.event-rules{
  color:#fff;
  background-color: rgba(0,0,0,0.9);
  padding-left:5%;
  padding-right: 3%;
  margin-top: 10%;
  height:500px;
  overflow: scroll;
  max-height: 100%;
}
/*==============end rules=============*/
/*======marquee scroller=====*/
#scroller {
    background-color: rgba(0,0,0,0.65);
    color: #ffffff;
    font-size: 14px;
    height: 28px !important;
    line-height:28px;
    overflow: hidden;
    position: relative;
    width: 100%;
    position: relative;

}
.scrollingtext {
    color: #ffffff;
    white-space:nowrap;
    position:absolute;
    font-size: 14px;
    font-style: oblique;
}
.scrollingtext a:link, .scrollingtext a:visited {
    color: #ffffff;
    font-size: 14px;
}
.scrollingtext a:visited {
    text-decoration:none;
}

.review {
    padding-right: 50px;
}

#static-text {
    position: absolute;
    padding: 0 10px;
    background-color: #D94A3C;
    z-index: 99999;
    font-weight: bold;
}


/*===================end scroller===========================*/
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../images/loader.gif') 50% 50% no-repeat rgba(0,0,0,0.5);
  display:none;
}
.fblike{
  display: none;
}

.fb-like{
  color:#000;
  background-color: #f0f6f6;
  height:contain;
  width:310px;
  border:#000 SOLID 5px;
  max-height: 100%;
}